<table *ngIf="rankings$ | async as rankings">
    <thead>
        <tr>
            <td>Coin</td>
            <td>1 week ago</td>
            <td>2 weeks ago</td>
            <td>1 month ago</td>
            <td>2 months ago</td>
            <td>3 months ago</td>
            <td>half year ago</td>
            <td>1 year ago</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let rank of rankings.today.data; let i = index">
            <td>{{i + 1}} {{rank}}</td>
            <td>{{getRank(rankings.oneWeekAgo.data, rank)}}</td>
            <td>{{getRank(rankings.twoWeeksAgo.data, rank)}}</td>
            <td>{{getRank(rankings.oneMonthAgo.data, rank)}}</td>
            <td>{{getRank(rankings.twoMonthsAgo.data, rank)}}</td>
            <td>{{getRank(rankings.threeMonthsAgo.data, rank)}}</td>
            <td>{{getRank(rankings.halfYearAgo.data, rank)}}</td>
            <td>{{getRank(rankings.oneYearAgo.data, rank)}}</td>
        </tr>
    </tbody>
</table>
