<table *ngIf="rows$ | async as rows">
    <thead>
        <tr>
            <td>Coin</td>
            <td>1 week ago</td>
            <td>2 weeks ago</td>
            <td>1 month ago</td>
            <td>2 months ago</td>
            <td>3 months ago</td>
            <td>half year ago</td>
            <td>1 year ago</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of rows; let i = index">
            <td>{{i + 1}} {{row.today}}</td>
            <td>{{row.oneWeekAgo}}</td>
            <td>{{row.twoWeeksAgo}}</td>
            <td>{{row.oneMonthAgo}}</td>
            <td>{{row.twoMonthsAgo}}</td>
            <td>{{row.halfYearAgo}}</td>
            <td>{{row.oneYearAgo}}</td>
        </tr>
    </tbody>
</table>
